// General page
// Media 1200px
@media (max-width: 1200px) {
	// Header
	.header {
		&__list {
			li {
				padding: 0px 27px;
			}
		}
	}

	// Main screen
	.main-screen {
		&__title {
			font-size: 55px;
		}
	}

	// Benefits
	.benefits {
		&__item {
			align-items: flex-start;
		}

		&__box {
			max-width: 900px;
		}

		&__row {
			margin: 0px -25px;
		}

		&__column {
			padding: 0px 25px;
		}

		&__text {
			text-align: left;
		}
	}

	// Mobile
	.mobile {
		&__body {
			max-width: 1200px;
		}
		&__row {
			margin: 0px -20px;
		}
		&__column {
			padding: 0px 20px;
		}
		&__item {
			width: 290px;
		}
	}

	// Choice
	.choice {
		min-height: 815px;

		&__bg {
			height: 319px;
		}

		&__content {
			padding-bottom: 57px;
		}
	}

	// Terms
	.terms {
		&__body {
			max-width: 890px;
			margin: 0px auto;
		}

		&__row {
			margin: 0px -35px;
		}

		&__column {
			padding: 0px 35px;
		}
	}

	.cities {
		min-height: 650px;
	}
}

// Media 992px
@media (max-width: 991px) {
	// Header
	.header {
		&__list {
			li {
				padding: 0px 10px;
			}
		}

		&__link {
			font-size: 14px;
		}
	}

	// Main sreen
	.main-screen {
		min-height: 721px;
		padding-bottom: 67px;
		&__title {
			font-size: 45px;
		}

		&__subtitle {
			font-size: 35px;
		}

		&__content {
			padding-top: 60px;
		}

		&__text {
			margin-bottom: 70px;
		}
	}

	// Benefits
	.benefits {
		padding: 50px 0px 25px;
		&__suptitle {
			margin-bottom: 25px;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__box {
			max-width: 700px;
		}

		&__row {
			margin: 0px -25px;
		}

		&__column {
			padding: 0px 25px;
		}

		&__item {
			flex-direction: column;
			align-items: center;
		}

		&__body {
			padding-left: 0px;
		}

		&__image {
			margin-bottom: 24px;
		}
	}

	// Mobile
	.mobile {
		&__suptitle {
			margin-bottom: 25px;
		}

		&__subtitle {
			margin-bottom: 25px;
			line-height: 24px;
		}

		&__body {
			max-width: 690px;
		}

		&__row {
			margin: 0px -25px;
		}

		&__column {
			padding: 0px 25px;
		}
	}

	// Terms
	.terms {
		padding: 50px 0px 0px;

		&__suptitle {
			margin-bottom: 25px;
		}

		&__body {
			max-width: 700px;
		}

		&__row {
			margin: 0px -25px;
		}

		&__column {
			padding: 0px 25px;
		}
	}

	// Cities
	.cities {
		&__suptitle {
			margin-bottom: 25px;
		}
	}

	// Choice
	.choice {
		min-height: 650px;
		&__content {
			padding-bottom: 57px;
		}

		&__bg {
			height: 311px;
		}

		&__car {
			max-width: 738px;
		}
	}

	// Footer
	.footer {
		&__row {
			flex-direction: column;
		}

		&__column {
			flex: 1 1 auto;
			&:first-child {
				order: 2;
			}
			&:nth-child(2) {
				order: 1;
			}
			&:last-child {
				order: 3;
			}
		}

		&__content {
			margin-bottom: 15px;
		}

		&__socials {
			justify-content: center;
			margin-bottom: 20px;
		}

		&__social {
			&:first-child {
				margin-left: 0px;
			}
			&:last-child {
				margin-right: 0px;
			}
		}

		&__stories {
			justify-content: center;
		}
	}
}

// Media 825px
@media (max-width: 825px) {
	.header {
		&__list {
			li {
				padding: 0px 13px;
			}
		}

		&__link {
			font-size: 13px;
		}
	}

	.main-screen {
		&__subtitle {
			font-size: 30px;
		}
	}

	.mobile {
		&__subtitle {
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// Media 768px
@media (max-width: 767px) {
	.title {
		font-size: 27px;
	}
	// Header
	.header {
		&__list {
			position: fixed;
			width: 50%;
			height: 100vh;
			top: 0px;
			left: -100%;
			background-color: rgba(0, 0, 0, 0.8);
			flex-direction: column;
			padding-left: 25px;
			transition: left 0.5s linear 0s;
			overflow: auto;
			justify-content: center;
			li {
				border: none;
				padding: 0px;
				margin-bottom: 25px;
			}
		}

		&__active {
			left: 0px;
		}

		&__row {
			justify-content: flex-end;
		}

		&__burger {
			display: block;
		}

		&__item {
			height: auto;
		}

		&__link {
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}

	// Main screen
	.main-screen {
		&__row {
			align-items: center;
		}

		&__logo {
			max-width: 250px;
		}

		&__call {
			flex-direction: column;
			align-items: center;
			padding-top: 0px;
		}

		&__call-us {
			display: none;
		}

		&__number {
			font-size: 18px;
		}

		&__phone {
			padding-top: 0px;
			margin-right: 0px;
			margin-bottom: 7px;
		}

		.btn {
			height: 35px;
			line-height: 35px;
			font-size: 16px;
			&_l {
				width: 259px;
				height: 63px;
				line-height: 68px;
				font-size: 18px;
			}
		}

		&__title {
			font-size: 40px;
		}

		&__subtitle {
			max-width: 450px;
			margin: 0px auto 23px;
		}

		&__body {
			padding: 0px 20px;
		}
	}

	// Benefits
	.benefits {
		padding: 30px 0px 0px;

		&__suptitle {
			margin-bottom: 20px;
		}

		&__subtitle {
			margin-bottom: 20px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__box {
			max-width: 350px;
		}

		&__row {
			margin: 0px;
			flex-direction: column;
			align-items: center;
		}

		&__column {
			padding: 0px;
			margin-bottom: 30px;
		}
	}

	// Mobile
	.mobile {
		padding: 30px 0px 10px;

		&__suptitle {
			margin-bottom: 20px;
		}

		&__row {
			flex-direction: column;
			align-items: center;
			margin: 0px;
		}

		&__column {
			padding: 0px;
			text-align: center;
			margin-bottom: 30px;
		}

		&__item {
			width: 300px;
			height: 265px;
		}

		&__label {
			font-size: 21px;
		}
	}

	// Choice
	.choice {
		// padding-top: 30px;
		// padding-bottom: 30px;
		min-height: 568px;
		&__suptitle {
			margin-bottom: 20px;
		}

		&__subtitle {
			margin-bottom: 35px;
		}

		&__car {
			max-width: 515px;
		}

		&__bg {
			height: 223px;
		}

		&__content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	// Terms
	.terms {
		padding-top: 30px;
		&__suptitle {
			margin-bottom: 20px;
		}

		&__body {
			max-width: 470px;
		}

		&__row {
			flex-direction: column;
			align-items: center;
			margin: 0px;
		}

		&__column {
			margin-bottom: 30px;
			padding: 0px;
			&:nth-child(2) {
				margin-bottom: 40px;
			}
		}
	}

	// Cities
	.cities {
		padding-top: 30px;
		padding-bottom: 30px;
		min-height: 450px;
	}

	.footer {
		padding: 20px 0px;
		&__content {
			margin-bottom: 20px;
		}
	}
}

// Media 576px
@media (max-width: 375px) {
	// Header
	.header {
		&__list {
			width: 80%;
			padding-left: 20px;
		}

		&__row {
			height: 30px;
		}

		&__link {
			font-size: 18px;
		}
	}
	// Main screen
	.main-screen {
		padding-top: 30px;
		padding-bottom: 35px;
		min-height: 430px;
		&__top {
			padding-top: 10px;
			padding-bottom: 9px;
		}

		&__official {
			display: none;
		}

		&__logo {
			max-width: 130px;
		}

		&__call {
			margin-right: 6px;
		}

		&__image {
			margin-bottom: 0px;
		}

		&__number {
			font-size: 12px;
		}

		.btn {
			width: 110px;
			height: 22px;
			font-size: 10px;
			line-height: 22px;
			&_l {
				width: 210px;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
			}
		}

		&__content {
			padding-top: 48px;
		}

		&__body {
			padding: 0px 0px;
			max-width: 300px;
		}

		&__title {
			font-size: 30px;
			padding: 0px 23px;
			line-height: 1.17;
			margin-bottom: 22px;
		}

		&__subtitle {
			font-size: 20px;
			margin-bottom: 66px;
		}

		&__text {
			display: none;
		}
	}

	.title {
		font-size: 16px;
	}

	// Benefits
	.benefits {
		padding-top: 22px;
		&__suptitle {
			margin-bottom: 15px;
		}
		&__title {
			margin-left: -3px;
			margin-right: -3px;
		}

		&__column {
			margin-bottom: 25px;
		}

		&__image {
			flex: 0 0 100px;
			width: 100px;
			height: 100px;
			margin-bottom: 25px;
		}

		&__label {
			font-size: 16px;
		}
	}

	// Mobile
	.mobile {
		background: none;
		padding-top: 25px;
		&__suptitle {
			margin-bottom: 15px;
		}
		&__title {
			margin-bottom: 4px;
		}
		&__subtitle {
			font-size: 14px;
			line-height: 21px;
			max-width: 440px;
		}
		&__item {
			width: 290px;
			height: 254px;
		}
		&__label {
			font-size: 18px;
			padding: 0px 20px;
		}
		&__content {
			padding-top: 73px;
			padding-bottom: 28px;
		}
	}

	// Choice
	.choice {
		min-height: auto;

		.container {
			padding: 0px 10px;
		}

		&__content {
			padding-top: 25px;
			padding-bottom: 33px;
			min-height: 390px;
		}

		&__car {
			max-width: 300px;
			margin-bottom: 16px;
		}

		&__suptitle {
			margin-bottom: 35px;
		}

		&__bg,
		&__subtitle,
		&__title {
			display: none;
		}

		&__text {
			color: #ffffff;
		}
	}
	// Terms
	.terms {
		padding-top: 25px;
		&__suptitle {
			margin-bottom: 13px;
		}
		&__title {
			margin-bottom: 18px;
		}

		&__column {
			&:nth-child(2) {
				margin-bottom: 36px;
			}
			&:last-child {
				margin-bottom: 25px;
			}
		}

		&__label {
			font-size: 16px;
			margin-bottom: 12px;
		}

		&__list {
			padding-left: 0px;
			li {
				font-size: 14px;
				margin-bottom: 6px;
				line-height: 16px;
				min-height: 20px;
				&:before {
					top: 0px;
				}
			}
		}

		&__description {
			font-size: 14px;
			line-height: 17px;
		}
	}

	// Cities
	.cities {
		min-height: 360px;
		padding-top: 25px;
		&__suptitle {
			margin-bottom: 13px;
		}
		&__title {
			margin-bottom: 7px;
		}
		&__subtitle {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	// Footer
	.footer {
		padding-top: 25px;
		&__line {
			max-width: 253px;
			margin-bottom: 20px;
		}
		&__list {
			li {
				margin: 0px 7px;
			}
			margin-bottom: 8px;
		}
		&__link {
			font-size: 14px;
			&_gray {
				font-size: 11px;
			}
		}

		&__content {
			margin-bottom: 18px;
		}

		&__sublist {
			flex-wrap: wrap;
			max-width: 244px;
			margin: 0px auto;
			justify-content: space-between;
			li {
				margin: 0px 0px 10px;
				&:first-child,
				&:nth-child(2) {
					flex: 0 1 50%;
				}
				&:nth-child(2) {
					text-align: right;
				}
			}
		}
		&__story {
			max-width: 82px;
		}
	}
}
