.btn {
	width: 172px;
	height: 46px;
	line-height: 46px;
	border-radius: 4px;
	text-align: center;
	box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	&_l {
		width: 259px;
		height: 63px;
		line-height: 68px;
		font-size: 18px;
	}
}

.suptitle {
	width: 112px;
	height: 24px;
	background-color: #000;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 25px;
	text-transform: uppercase;
	&_white {
		background-color: #ffffff;
		color: #070716;
	}
	&_less {
		background-color: #ffffff;
		color: #070716;
		width: 76px;
	}
}
.title {
	font-size: 38px;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
	text-align: center;
	&_white {
		color: #ffffff;
	}
	@media (max-width: 992px) {
		font-size: 35px;
	}
}

.subtitle {
	color: #222222;
	font-size: 17px;
	text-align: center;
	&_white {
		color: #ffffff;
	}
}

.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
	}
}

.burger {
	position: relative;
	right: -5px;
	width: 26px;
	height: 10px;
	font-size: 0px;
	color: transparent;
	&:before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #fff;
		left: 0;
		transition: all 0.3s linear 0s;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}

	span {
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #fff;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s linear 0s;
	}

	&__active {
		&:before {
			transform: rotate(45deg);
			top: 5px;
		}
		&:after {
			transform: rotate(-45deg);
			bottom: 4px;
		}
		span {
			transform: scale(0);
		}
	}
}
