@import "_values";
@import "_nullstyles";
@import "_modify";

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 1470px;
	padding: 0px 15px;
	margin: 0px auto;
}

// Header
.header {
	background-color: #212121;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 50;
	&__row {
		height: 51px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__menu {
	}

	&__list {
		display: flex;
	}

	&__item {
		height: 31px;
		display: flex;
		align-items: center;
		padding-left: 33.55px;
		padding-right: 31.55px;
		border-right: 2px dashed #000;
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			padding-right: 0px;
			border-right: none;
		}
	}

	&__link {
		font-size: 15px;
		font-weight: 300;
		color: #fff;
	}
}

// Main screen section

.main-screen {
	min-height: 799px;
	background: url("../img/main_screen/uber_bg.jpg") center center/cover no-repeat;
	padding-top: 51px;
	// Main screen top
	&__top {
		// ! Потом вернуть мб
		// position: fixed;
		// width: 100%;
		// !=============
		padding: 16px 0px 17px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		max-width: 947px;
		margin: 0px auto;
	}

	&__logo {
		flex: 0 1 285px;
	}

	&__image {
		cursor: pointer;
		display: block;
		margin-bottom: 6px;
		img {
			max-width: 100%;
		}
	}

	&__official {
		font-size: 13px;
		font-weight: 100;
		color: rgba(255, 255, 255, 0.5);
	}

	&__call {
		display: flex;
		padding-top: 3px;
	}

	&__phone {
		padding: 4px 0px 0px;
		text-align: right;
		margin-right: 32px;
	}

	&__call-us {
		font-size: 12px;
		font-weight: 300;
		color: #fff;
		margin-bottom: 6px;
	}

	&__number {
		font-size: 22px;
		color: #fff;
	}

	&__btn {
	}

	// Main screen content
	&__content {
		// ! В зависимости от позиционирования дополнительного элемента маин скрина то и меняется padding-top def 151
		padding-top: 67px;
	}

	&__body {
		max-width: 955px;
		margin: 0px auto;
		text-align: center;
	}

	&__title {
		font-size: 60px;
		font-weight: 900;
		color: #fff;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-size: 36px;
		font-weight: 700;
		color: #fff;
		margin-bottom: 23px;
	}

	&__text {
		font-size: 18px;
		line-height: 1.33;
		color: #fff;
		margin-bottom: 100px;
		p {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	&__btn {
	}
}

// Benefits section
.benefits {
	padding: 71px 0px 30px;
	&__suptitle {
		margin: 0px auto 38px;
	}

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	&__box {
		max-width: 1062px;
		margin: 0px auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -51px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 51px;
		margin-bottom: 35px;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__image {
		flex: 0 0 113px;
		width: 113px;
		height: 113px;
		background-color: #1eacc7;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__body {
		flex: 1 1 auto;
		padding-left: 26px;
	}

	&__label {
		font-size: 17px;
		color: #1eacc7;
		line-height: 21px;
	}

	&__text {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		text-align: justify;
		color: #202020;
	}
}

// Mobile section
.mobile {
	min-height: 864px;
	background: url("../img/mobile/backgraund/mobile_bg.jpg") center center / cover no-repeat;
	padding: 48px 0px 61px;

	&__suptitle {
		margin: 0px auto 33px;
	}

	&__title {
		text-align: center;
		margin-bottom: 12px;
	}

	&__subtitle {
		margin-bottom: 33px;
	}

	&__body {
		max-width: 1095px;
		margin: 0px auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -33.5px;
	}

	&__column {
		flex: 0 1 33.333%;
		margin-bottom: 19px;
		padding: 0px 33.5px;
	}

	&__item {
		position: relative;
		width: 320px;
		height: 280px;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		right: 0px;
		img {
			max-width: 100%;
		}
	}

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		right: 0px;
		z-index: 1;
		padding: 85px 0px 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__label {
		color: #ffffff;
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		text-transform: uppercase;
	}

	&__plus {
		width: 26px;
		height: 26px;
		background-color: #000000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		cursor: pointer;
	}
}

// Choice section
.choice {
	min-height: 896px;
	background-color: #070716;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 397px;
		left: 0px;
		bottom: 0px;
		z-index: 1;
	}

	&__content {
		position: relative;
		z-index: 2;
		padding: 57px 0px 138px;
	}

	&__suptitle {
		margin: 0px auto 27px;
	}

	&__title {
		margin-bottom: 12px;
	}

	&__subtitle {
		margin-bottom: 55px;
	}

	&__cer {
		max-width: 759px;
		margin: 0px auto;
		img {
			max-width: 100%;
		}
	}

	&__text {
		max-width: 320px;
		margin: 0px auto;
		text-align: center;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
	}
}
